<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 minutes">
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 控制台显示日志,不用带日期,只需看到时分秒就可以  -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{0}[%line] - %msg%n</pattern>
		</encoder>

	</appender>

	<appender name="file-all-in-one" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${user.dir}/logs/log.log</File>

		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5level %class{0}[%line] - %msg%n</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/${app.log.path}/${app.name}/log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!--
		将程序中用到的某些开源框架产生的日志事设置默认级别为WARN,如果要想查看更详细的信息请将级别调低 
		如果有些规则在下面列出的logger中没有,请自行添加新的logger节点并配置其级别
	-->
	<logger name="org.springframework" addtivity="false" level="WARN" />
	<logger name="org.apache.mina" addtivity="false" level="WARN" />
	<logger name="org.hibernate" addtivity="false" level="WARN" />
	<logger name="org.jboss" addtivity="false" level="WARN" />
	<logger name="javassist" addtivity="false" level="WARN" />
	<logger name="org.apache.commons.configuration" addtivity="false" level="WARN" />
  

	<root level="TRACE">
		<appender-ref ref="file-all-in-one" />
		<appender-ref ref="console" />
	</root>
</configuration>